extends layout 

block content
   
    .w3-card-4
    header.w3-container.w3-teal
        h1 Editar tarefa com id= #{tarefa.id}
    .w3-container
        form.w3-container(action='/tarefas/editar' method='POST')
            input(type='hidden' name='id' value= tarefa.id)
            label.w3-text-teal
                b  Autor 
            input.w3-input.w3-border.w3-light-grey(type='text' name='autor' value= tarefa.autor)
            label.w3-text-teal
                b  Data 
            input.w3-input.w3-border.w3-light-grey(type='date' name='datafinal' value= tarefa.datafinal)
            label.w3-text-teal
                b  Descrição 
            input.w3-input.w3-border.w3-light-grey(type='text' name='descricao' value= tarefa.descricao)
            label.w3-text-teal
                b  Tipo de tarefa
            
            //select.w3-select.w3-border.w3-light-grey(name='tipo')
                - console.log(`tarefa.tipo: ${tarefa.tipo}`)
                each option in ['Emprego', 'Pessoal', 'Casa', 'Familia']
                    - const isSelected = (tarefa.tipo === option)
                    - console.log(`option: ${option}, isSelected: ${isSelected}`)
                    option(value=option selected=isSelected) #{option}
            select.w3-select.w3-border.w3-light-grey(name='tipo')
                option(value='Emprego' selected=(tarefa.tipo === 'Emprego')) Emprego 
                option(value='Pessoal' selected=(tarefa.tipo === 'Pessoal')) Pessoal 
                option(value='Casa' selected=(tarefa.tipo === 'Casa')) Casa 
                option(value='Familia' selected=(tarefa.tipo === 'Familia')) Familia

            br
            label.w3-text-teal
                b  Estado 
            br
            input.w3-radio(type='radio' name='estado' value='por fazer' checked=(tarefa.estado === 'por fazer'))
            label Por fazer
            input.w3-radio(type='radio' name='estado' value='concluido' checked=(tarefa.estado === 'concluido'))
            label Concluido
            br
            br
            input.w3-btn.w3-blue-grey(type='submit' value='Submeter edição')
            input.w3-btn.w3-blue-grey(type='reset' value='Limpar')
            a.w3-button.w3-blue-grey(href='/')  [Cancelar] 
    footer.w3-container.w3-teal
        address Gerado por A84347 @ RPCW2023 em #{d}
